<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Member</title>
    <%- include('./partials/header.ejs') %>  
</head>
<body style="background-color: lightcyan">
    <div class="container" >
        <div class="filter col-md-6 mb-3 my-4">
            <a href="/acc-details/<%= memberAdd.id %>"><button class="gesture btn btn-info my-4"> <i class="fas fa-angle-double-left"></i> Back </button></a>
        </div>
        <div class="form-title-member text-center">
            <h2 class="text-dark my-5"><h1>Add Member Form</h1></h2>
        </div>
        <% if(message.flag){ %>
            <div class="alert alert-<%= message.type %>">
                <strong>
                    <%= message.intro %>
                </strong>
                <%= message.message %>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            <% } %>
    <form action="/add-member/<%= memberAdd.id %>" method="post">
        <input type="hidden" name="addMemberId" />
        <div>
                <div class="animated bounceInRight">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control is-valid" id="exampleInputEmail1" aria-describedby="emailHelp" name= "emailaddress" placeholder="Enter email" required>
                </div>
        </div><br>
        <button class="submit-button animated bounceInUp" type="submit">Add</button>
    </form>
</body>
</html>